@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.single-film {
  margin: 7rem 1rem 1rem 1rem;
  font-family: Rubik, sans-serif;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-areas:
    "details details"
    "poster overview";
  grid-gap: 10px;
  text-align: initial;
}

.single-film img {
  grid-area: poster;
  width: 100%;
}

.single-film h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: .2rem;
}

.film-details {
  grid-area: details;

}

.film-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: .8rem;
}

.title {
  margin: 0;
  text-decoration: underline;
}

.rating {
  align-self: flex-end;
  margin: 0;

}

.overview {
  grid-area: overview;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-size: .8rem;
}

.info-container h4 {
  margin-top: 0;
  margin-bottom: .5rem;
  text-align: center;
  background: white;
  width: 100%;
}

.info-container>h4:nth-of-type(1) {
  text-align: initial;
}

.genre-display {
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.money-container {
  font-size: 11px;
  font-weight: 100;
}

.money-container>h4 {
  margin-bottom: 0;
}

.money-container>h5 {
  margin-top: 0;
}

.summary {
  width: 100%;
}

.summary>p {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}
