.App {
  /* background-color: #FFFFFF; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  padding: 10px; */
  /* align-items: center; */
  /* justify-content: center;  */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}
