@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.nav {
  color: black;
  text-decoration: none;
}

.nav:visited {
  color: #E92731;
}

.card {
  height: 19rem;
}

.card-poster {
  width: 150px;
  box-shadow: 5px 3px 15px #018994;
  border-radius: 8px;
  background: #018994;
}

.card-title {
  margin-top: .5rem;
  text-align: center;
  font-size: 1.1rem;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  height: 1.2rem;

}

@media screen and (min-width: 1024px) {
  .card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
    color: #018994;
    cursor: pointer;
  }
}
