.card {
  width: 10rem;
  margin: .8rem;
}

.card:hover {
  text-decoration: underline;
  color: #018994;
}

.card-poster {
  width: 100%;
  box-shadow: 5px 3px 15px #018994;
  border-radius: 8px;
}

.card-title{
  margin-top: 10px;
}
