header {
  height: 100px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding: 3px;
}

.home-icon {
  width: 3rem;
}

h1 {
  margin: 0;
}