@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

header {
  height: 100px;
  background: #E92731;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding: 10px;
}


h1 {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.home-icon {
  width: 3rem;
}
